
@{
   
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- Contant
======================================= -->

<div class="container">

    <div class="content_fullwidth">

        <div class="one_half">


            <p>Feel free to talk to our online representative at any time you please using our mailing system on our website or one of the below instant messaging programs.</p>
            <br />
            <p>
                Please be patient while waiting for response. (24/7 Support!)
                <strong>Phone General Inquiries: 1-888-123-4567-8900</strong>
            </p>

            <br />
            <h3><i>Contact Form</i></h3>

            <form action="" method="post">

                <fieldset>



                    <label for="name" class="blocklabel">Your Name*</label>
                    <p class="<?php if (isset($the_nameclass)) echo $the_nameclass; ?>"><input name="yourname" class="input_bg" type="text" id="name" value='' /></p>


                    <label for="email" class="blocklabel">E-Mail*</label>
                    <p class="<?php if (isset($the_emailclass)) echo $the_emailclass; ?>"><input name="email" class="input_bg" type="text" id="email" value='' /></p>


                    <label for="website" class="blocklabel">Website</label>
                    <p><input name="website" class="input_bg" type="text" id="website" value="" /></p>


                    <label for="message" class="blocklabel">Your Message*</label>
                    <p class="<?php if (isset($the_messageclass)) echo $the_messageclass; ?>"><textarea name="message" class="textarea_bg" id="message" cols="20" rows="7"></textarea></p>


                    <p>
                        <input type="hidden" id="myemail" name="myemail" value="<?php echo $email_adress_reciever; ?>" />
                        <input type="hidden" id="myblogname" name="myblogname" value="<?php echo $name_of_your_site; ?>" />
                        <div class="clearfix"></div>
                        <input name="Send" type="submit" value="SUBMIT" class="comment_submit" id="send" />
                    </p>


                    @*<div class="success">
                    <div class="message-box-wrap">
                        Your message has been <strong>Received Successfully!</strong> Thank you!
                    </div>
                </div>*@



                </fieldset>

            </form>

        </div>

        <div class="one_half last">

            <div class="address-info">
                <h3><i>Address Info</i></h3>
                <ul>
                    <li>
                        <strong>Vadodara Municipal Corporation</strong><br />
                        Khanderao Market, Sarod, Sayajiganj, <br />
                        Vadodara, Gujarat 390209<br />
                        FAX: +1 0123-4567-8900<br />
                        Phone:1800-233-0265<br/>
                        E-mail: <a href="mailto:mail@companyname.com">smartcity@vmc.gov.in</a><br />
                        Website: <a href="index.html">www.vadodarasmartcity.in</a>
                    </li>
                </ul>
            </div>

            <h3><i>Find the Address</i></h3>
            <iframe class="google-map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d118106.71283255855!2d73.10304553530723!3d22.322087608546184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395fcf4f108c2147%3A0x7b0bea3b627fb910!2sVadodara+Municipal+Corporation!5e0!3m2!1sen!2sin!4v1522583227824"></iframe><br /><small><a href="https://www.google.co.in/maps/place/Vadodara+Municipal+Corporation/22.3220876,73.1030455,12z/data=!4m8!1m2!2m1!1s+Vadodara+Municipal+Corporation,++++++Khanderao+Market++++++Vadodara!3m4!1s0x395fcf4f108c2147:0x7b0bea3b627fb910!8m2!3d22.3070635!4d73.1803608" target="_blank">View Larger Map</a></small>

        </div>

    </div>

</div><!-- end content area -->


<div class="clearfix mar_top5"></div>