
@{
    ViewData["Title"] = "ABDProjects";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<style type="text/css">

    .textbox {
        border: 1px solid #e0e0e0;
        padding: 5px 8px;
        color: black;
        font-family: arial, sans-serif;
        box-shadow: none !important;
        width: 35%;
        font-size: 1.5em;
        font-weight: 300;
        height: 40px;
        border-radius: 0;
        -webkit-appearance: none;
    }

    .date {
        border: 1px solid #e0e0e0;
        padding: 5px 8px;
        color: black;
        font-family: arial, sans-serif;
        box-shadow: none !important;
        width: 35%;
        font-size: 1.5em;
        font-weight: 300;
        height: 40px;
        border-radius: 0;
        -webkit-appearance: none;
        text-align: center;
    }
</style>





<h1 style="text-align: center">ABD Total Projects</h1>

<form asp-action="Save" enctype="multipart/form-data" method="post">
    @*<input type="hidden" asp-for="@Model.Id" />*@
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Project Type</td>
                    <td>
                        <select data-val="true" data-val-required="The Priority field is required." id="PrType" name="Project Type">

                            <option selected="selected" value="Total">Total</option>
                            <option value="DPR">DPR</option>
                            <option value="TENDER">TENDER</option>
                            <option value="WorkOrder">Work Order</option>
                        </select>
                    </td>
                </tr>


                <tr>
                    <th scope="row">2</th>
                    <td>Total Projects</td>
                    <td>
                        <input type="text" class="textbox">
                        @*<span asp-validation-for="@Model.Title" class="text-danger" />*@
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Total Cost</td>
                    <td>
                        <input type="text" class="textbox">
                        @*<span asp-validation-for="@Model.Title" class="text-danger" />*@
                    </td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td>
                        <a class="btn btn-danger pull-right" href="#"><i class="fa fa-edit"></i> Cancel</a>
                        <button class="btn btn-primary pull-right" type="submit"><i class="fa fa-floppy-o"></i> Save</button>
                    </td>
                </tr>

            </tbody>
        </table>


    </div>



</form>


@section EndScripts{

}


