@model admincore.Models.EventViewModel
@{
    if (Model.Id > 0)
    {

        ViewData["Title"] = "Edit Event";
    }
    else
    {
        ViewData["Title"] = "Add new Event";

    }

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style type="text/css">

    .textbox {
        border: 1px solid #e0e0e0;
        padding: 5px 8px;
        color: black;
        font-family: arial, sans-serif;
        box-shadow: none !important;
        width: 35%;
        font-size: 1.5em;
        font-weight: 300;
        height: 40px;
        border-radius: 0;
        -webkit-appearance: none;
    }

    .date {
        border: 1px solid #e0e0e0;
        padding: 5px 8px;
        color: black;
        font-family: arial, sans-serif;
        box-shadow: none !important;
        width: 35%;
        font-size: 1.5em;
        font-weight: 300;
        height: 40px;
        border-radius: 0;
        -webkit-appearance: none;
        text-align: center;
    }
</style>

@{
    if (Model.Id > 0)
    {
        <h1 style="text-align: center"> Edit Event</h1>
    }
    else
    {
        <h1 style="text-align: center">Add new Event</h1>
    }

}

<div class="table-responsive">
    
    <input type="hidden" id="hdnId" value="@Model.Id">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Sr. No</th>
                <th>Events </th>
                <th>Details</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Title of Event</td>
                <td><input type="text" id="txtETitle" class="textbox" value="@Model.Title"></td>


            </tr>


            <tr>
                <th scope="row">2</th>
                <td>Event Document</td>
                <td>
                    <input type="file" class="btn btn-default btn-file" ID="fileuploadimages1" runat="server" /><br>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Event Image</td>
                <td>
                    <input type="file" class="btn btn-default btn-file" ID="fileuploadimages2" runat="server" /><br>
                </td>
            </tr>

            <tr>
                <th scope="row">4</th>
                <td>Event Description</td>
                @*<td><input type="text" id="txtETitle" class="textbox" value="@Model.Description"></td>*@
                @*<textarea rows="6" class="form-control1 control2"></textarea>*@
                <td><textarea  id="txtETitle" class="textbox" value="@Model.Description"></textarea></td>

            </tr>




            <tr>
                <th scope="row">5</th>
                <td>Event Date</td>
                <td>
                    <input type="date" class="date" />
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td>
                    <button class="btn btn-primary" id="btnSave" style="float: right;">Submit<div></div></button>
                </td>
            </tr>

        </tbody>
    </table>


</div>
@section EndScripts{
    <script type="text/javascript" src="~/js/Event/AddEdit.js"></script>
}
