<nav id="access" class="access" role="navigation">

    <div id="menu" class="menu">

        <ul id="tiny">

            <li><a class="topNav topNav-Home" href="/">Home</a></li>

            <li>
                <a class="topNav topNav-Vadodara" href="javascript:void(0)">Vadodara  <i class="fa fa-angle-down"></i></a>

                <ul>
                    <li><a href="AboutVadodara">About Vadodara</a></li>
                    <li><a href="https://vmc.gov.in/">About VMC</a></li>
                </ul>

            </li>

            <li>
                <a class="topNav topNav-SmartCity" href="javascript:void(0)">Smart City Mission <i class="fa fa-angle-down"></i></a>

                <ul>
                    <li><a href="/SmartCityinfo">What is Smart City?</a></li>
                    <li><a href="/SmartCityinfo/SmartCityCoverage">Smart City Coverage</a></li>
                    <li><a href="/SmartCityinfo/SmartCitySelection">Smart City Selection</a></li>
                </ul>

            </li>

            <li>
                <a class="topNav topNav-Projects" href="javascript:void(0)">Projects <i class="fa fa-angle-down"></i></a>

                <ul>
                    <li><a href="/Projects/ProjectStatus">Project Status</a></li>
                    <li><a href="/Projects">Pan city Projects</a></li>
                    <li><a href="/Projects/Abd">ABD Projects</a></li>
                </ul>

            </li>

            <li>
                <a class="topNav topNav-Gallery" href="javascript:void(0)">Gallery  <i class="fa fa-angle-down"></i></a>

                <ul>
                    <li><a href="/Events/Albums">Photos</a></li>
                    <li><a href="/Events">Events</a></li>
                    <li><a href="/Events/Media">Media</a></li>

                </ul>
            </li>


            @*<li>
            <a href="#">My Account <i class="fa fa-angle-down"></i></a>

            <ul>
                <li><a href="blog.html">Log in</a></li>
                <li><a href="blog-2.html">Registration</a></li>
                <li><a href="blog-post.html">Single Post</a></li>
            </ul>
        </li>*@


            <li><a class="topNav topNav-Career" href="/Career">Career </a></li>
           
             <li>
                <a class="last topNav topNav-Contact" href="/Contactus">Information<i class="fa fa-angle-down"></i></a>
                <ul>
                    <li><a href="/Events/Albums">Guidelines</a></li>
                    <li><a href="/Events">Proposal</a></li>
                    <li><a href="/Events/Media">SCP Presentation</a></li>
                    <li><a href="/Events/Media">Integrated CCC</a></li>

                </ul>
            </li>

        </ul>

    </div>
    
</nav>