<nav id="access" class="access" role="navigation">

    <div id="menu" class="menu">

        <ul id="tiny">

            <li><a class="topNav topNav-Home" href="/">Home</a></li>

            <li>
                <a  class="topNav topNav-Vadodara" href="javascript:void(0)">Vadodara  <i class="fa fa-angle-down"></i></a>

                <ul>
                    <li><a href="javascript:void(0)">About Vadodara</a></li>
                    <li><a href="https://vmc.gov.in/">About VMC</a></li>
                </ul>

            </li>

            <li>
                <a  class="topNav topNav-SmartCity" href="javascript:void(0)">Smart City Mission <i class="fa fa-angle-down"></i></a>

                <ul>
                    <li><a href="javascript:void(0)">What is Smart City?</a></li>
                    <li><a href="javascript:void(0)">Smart City Coverage</a></li>
                    <li><a href="javascript:void(0)">Smart City Selection</a></li>
                </ul>

            </li>

            <li>
                <a class="topNav topNav-Projects" href="javascript:void(0)">Projects <i class="fa fa-angle-down"></i></a>

                <ul>
                    <li><a href="javascript:void(0)">Project Cost</a></li>
                    <li><a href="javascript:void(0)">Pan city Projects</a></li>
                    <li><a href="javascript:void(0)">ABD Projects</a></li>
                </ul>

            </li>

            <li>
                <a class="topNav topNav-Gallery" href="javascript:void(0)">Gallery  <i class="fa fa-angle-down"></i></a>

                <ul>
                    <li><a href="/Events/Photos">Photos</a></li>
                    <li><a href="/Events">Events</a></li>
                    <li><a href="/Events/Media">Media</a></li>
                   
                </ul>
            </li>

            <li><a class="last topNav topNav-Contact" href="Contactus">Contact Us</a></li>
            @*<li>
                <a href="#">My Account <i class="fa fa-angle-down"></i></a>

                <ul>
                    <li><a href="blog.html">Log in</a></li>
                    <li><a href="blog-2.html">Registration</a></li>
                    <li><a href="blog-post.html">Single Post</a></li>
                </ul>
            </li>*@

            <li><a class="topNav topNav-Career" href="javascript:void(0)">Career </a></li>

        </ul>

    </div>
    
</nav>