<nav id="access" class="access" role="navigation">

    <div id="menu" class="menu">

        <ul id="tiny">

            <li><a href="index.html" class="active">Home</a></li>

            <li>
                <a href="#">Vadodara  <i class="fa fa-angle-down"></i></a>

                <ul>
                    <li><a href="#">About Vadodara</a></li>
                    <li><a href="https://vmc.gov.in/">About VMC</a></li>
                    @*<li><a href="http://gsrthemes.com/qnima/layout3/fullwidth/index.html">Creative</a></li>
                    <li><a href="http://gsrthemes.com/qnima/layout4/fullwidth/index.html">One Page</a></li>*@
                </ul>

            </li>

            <li>
                <a href="#">Smart City Mission <i class="fa fa-angle-down"></i></a>

                <ul>
                    <li><a href="#">What is Smart City?</a></li>
                    <li><a href="#">Smart City Coverage</a></li>
                    <li><a href="#">Smart City Selection</a></li>
                    @*<li><a href="services-2.html">Services Style 2</a></li>
                    <li><a href="full-width.html">Full Width Page</a></li>
                    <li><a href="left-sidebar.html">Left Sidebar Page</a></li>
                    <li><a href="right-sidebar.html">Right Sidebar Page</a></li>
                    <li><a href="left-nav.html">Left Navigation</a></li>
                    <li><a href="right-nav.html">Right Navigation</a></li>
                    <li><a href="404.html">404 Error Page</a></li>*@
                </ul>

            </li>

            <li>
                <a href="#">Project <i class="fa fa-angle-down"></i></a>

                <ul>
                    <li><a href="#">Project Cost</a></li>
                    <li><a href="#">Pan city Projects</a></li>
                    <li><a href="#">ABD Projects</a></li>
                    @*<li><a href="columns.html">Page Columns</a></li>
                    <li><a href="testimonials.html">Testimonials</a></li>
                    <li><a href="faqs.html">FAQs</a></li>
                    <li><a href="tabs.html">Tabs</a></li>
                    <li><a href="#">4 Diffrent Layouts</a></li>
                    <li><a href="#">Custom BGs &amp; Colors</a></li>
                    <li><a href="#">PSD Files Included</a></li>
                    <li><a href="#">Clean &amp; Valid Code</a></li>
                    <li><a href="#">Useful Typo Elements</a></li>
                    <li><a href="#">Cross Browser Check</a></li>*@
                </ul>

            </li>

            <li>
                <a href="#">Gallery  <i class="fa fa-angle-down"></i></a>

                <ul>
                    <li><a href="#">Photos</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Media</a></li>
                    @*<li><a href="portfolio-four.html">4 Columns</a></li>
                    <li><a href="portfolio-five.html">Portfolio + Sidebar</a></li>
                    <li><a href="portfolio-six.html">Portfolio Fancy</a></li>*@
                </ul>
            </li>

            <li class="last"><a href="contact_us.aspx">Contact Us</a></li>
            @*<li>
                <a href="#">My Account <i class="fa fa-angle-down"></i></a>

                <ul>
                    <li><a href="blog.html">Log in</a></li>
                    <li><a href="blog-2.html">Registration</a></li>
                    <li><a href="blog-post.html">Single Post</a></li>
                </ul>
            </li>*@

            <li class="last"><a href="#">Carrier </a></li>

        </ul>

    </div>

</nav>