
@{

    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="container">

    <div class="content_left">

        <div class="blog_post">
            <div class="blog_postcontent">
                <div class="image_frame small"><a href="/News/NewsDetail"><img src="http://placehold.it/810x360" alt="" /></a></div>
                <div class="post_info_content_small">
                    <a href="blog-archive.html" class="date"><strong>18</strong><i>October</i></a>
                    <h3><a href="blog-post.html">Lorem simply dummy text of the industry</a></h3>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><i class="fa fa-user"></i> <a href="#">Harris jo</a></li>
                        <li class="post_categoty"><i class="fa fa-folder-open"></i> <a href="#">Web tutorials</a></li>
                        <li class="post_comments"><i class="fa fa-comments"></i> <a href="#">18 Comments</a></li>
                    </ul>

                    <div class="clearfix"></div>

                    <p>There are many variations passages of available but theses in majority have suffered alteration in some form injecte humou or randomised words which don't looks even slightly believable embarrassing hidden in the middle.</p>

                </div>
            </div>
        </div><!-- /# end post -->
    </div>
</div>