
@{

    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- Contant
======================================= -->

<div class="container">

    <div class="content_fullwidth">

        <h2>Latest <strong>News</strong></h2>

        <div class="one_fourth">
            <div class="portfolio_image">
                <i class="icon-search icon-2x"></i>
                <a class="fancybox" href="http://placehold.it/800x450" data-fancybox-group="gallery" title="Publishing packages"><div class="hover_effct3"></div><img src="http://placehold.it/800x450" alt="" /></a>
                <div class="title">Publish packages</div>
            </div>
        </div><!-- end section -->

        <div class="one_fourth">
            <div class="portfolio_image">
                <i class="icon-search icon-2x"></i>
                <a class="fancybox" href="http://placehold.it/800x450" data-fancybox-group="gallery" title="Loptop packages"><div class="hover_effct3"></div><img src="http://placehold.it/800x450" alt="" /></a>
                <div class="title">Loptop packages</div>
            </div>
        </div><!-- end section -->

        <div class="one_fourth">
            <div class="portfolio_image">
                <i class="icon-search icon-2x"></i>
                <a class="fancybox" href="http://placehold.it/800x450" data-fancybox-group="gallery" title="Desktop packages"><div class="hover_effct3"></div><img src="http://placehold.it/800x450" alt="" /></a>
                <div class="title">Desktop packages</div>
            </div>
        </div><!-- end section -->

        <div class="one_fourth last">
            <div class="portfolio_image">
                <i class="icon-search icon-2x"></i>
                <a class="fancybox" href="http://placehold.it/800x450" data-fancybox-group="gallery" title="Prity alteration"><div class="hover_effct3"></div><img src="http://placehold.it/800x450" alt="" /></a>
                <div class="title">Prity alteration</div>
            </div>
        </div><!-- end section -->

        <div class="clearfix"></div>
        <div class="mar_top5"></div>

        

        
    </div>

</div><!-- end content area -->


<div class="clearfix mar_top4"></div>