
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- Contant
======================================= -->

<div class="container">

    <div class="content_left">

        <h2>What is <strong><i>Smart City?</i></strong></h2>

        <p>
            The answer is, there is no universally accepted definition of a smart city. It means different things to different people. The conceptualisation of Smart City, therefore, varies from city to city and country to country, depending on the level of development, willingness to change and reform, resources and aspirations of the city residents. In the approach of the Smart Cities Mission, the objective is to promote cities that provide core infrastructure and give a decent quality of life to its citizens, a clean and sustainable environment and application of ‘Smart’ Solutions. The focus is on sustainable and inclusive development and the idea is to look at compact areas, create a replicable model which will act like a light house to other aspiring cities. The Smart Cities Mission of the Government is a bold, new initiative. It is meant to set examples that can be replicated both within and outside the Smart City, catalysing the creation of similar Smart Cities in various regions and parts of the country.

            Please refer http://smartcities.gov.in/ for more information
        </p>

        <div class="clearfix mar_top2"></div>

        <p>
           
        </p>

        <div class="clearfix divider_line2"></div>




    </div><!-- end content left -->
    <!-- right sidebar starts -->
    <div class="right_sidebar">

        <div class="sidebar_widget">
            <div class="sidebar_title"><h3>More <i>About Us</i></h3></div>
            <ul class="arrows_list1">
                <li><a href="/Events/Albums"><i class="fa fa-angle-right"></i>Photos</a></li>
                <li><a href="/Events/Media"><i class="fa fa-angle-right"></i>Media</a></li>
                <li><a href="/Events"><i class="fa fa-angle-right"></i>Events</a></li>
                <li><a href="/Projects/Abd"><i class="fa fa-angle-right"></i>ABD Projects</a></li>
</div><!-- end section -->

        <div class="clearfix mar_top4"></div>













    </div><!-- end right sidebar -->





</div><!-- end content area -->


<div class="clearfix mar_top5"></div>