
@{
    ViewBag.Title = "SmartCitySelection";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- Contant
======================================= -->

<div class="container">

    <div class="content_left">

        <h2>Smart City<strong><i>Selection</i></strong></h2>

        <p>
            Each aspiring city competes for selection as a smart city in what is called a ‘City Challenge’. There are two stages in the selection process. After the number has been indicated to the respective Chief Secretaries, as outlined in para 8 above, the State/UT will undertake the following steps:

            Stage 1: Shortlisting of cities by States The State/UT begins with shortlisting the potential smart cities on the basis of conditions precedent and scoring criteria and in accordance with the total number allocated to it. The cities emerging successful in the first round of competition was sent by the State/UT as the recommended shortlist of smart cities to MoUD by the stipulated date. For Gujarat, total six cities namely Ahmedabad, Surat, Vadodara, Rajkot, Gandhinagar, and Dahod were selected.
            Stage 2: The Challenge round for selection In the second stage of the competition, each of the potential 100 smart cities prepared their proposals for participation in the ‘City Challenge’. Each city formulated its own unique vision, mission, and plan for a “Smart City.” Their concepts reflected the city’s local context, resources, and priorities of citizens. Each city developed a pan-city and area-based proposal. Selected smart cities submitted their Smart City Proposal on 15.12.2015.
            Evaluation of the Smart City Proposal The proposals submitted were evaluated by a Committee involving a panel of national and international experts, organizations and institutions. 20 Cities judged to have the best proposals were to be announced for the first round of challenge. Cities who do not get selected will start work on improving their SCPs for consideration in the second round. The winners of the first round of Challenge were announced by MoUD on 28th January 2016. Surat got selected at 4th Position in the 20 smart Cities list declared in first round by MoUD.

        </p>

        <div class="clearfix mar_top2"></div>

        <p>

        </p>

        <div class="clearfix divider_line2"></div>




    </div><!-- end content left -->
    <!-- right sidebar starts -->
    <div class="right_sidebar">

        <div class="sidebar_widget">
            <div class="sidebar_title"><h3>More <i>About Us</i></h3></div>
            <ul class="arrows_list1">
                <li><a href="/Events/Albums"><i class="fa fa-angle-right"></i>Photos</a></li>
                <li><a href="/Events/Media"><i class="fa fa-angle-right"></i>Media</a></li>
                <li><a href="/Events"><i class="fa fa-angle-right"></i>Events</a></li>
                <li><a href="/Projects/Abd"><i class="fa fa-angle-right"></i>ABD Projects</a></li>
            </ul>
        </div><!-- end section -->

        <div class="clearfix mar_top4"></div>













    </div><!-- end right sidebar -->





</div><!-- end content area -->


<div class="clearfix mar_top5"></div>