
@{
    ViewBag.Title = "SmartCityCoverage";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<style>
    .table-responsive {
        overflow-x: auto;
        min-height: .01%;
    }
</style>

<!-- Contant
======================================= -->

<div class="container">

    <div class="content_left">

        <h2><i>Smart City </i><strong>Coverage</strong></h2>



        The total number of 100 Smart Cities have been distributed among the States and UTs on the basis of an equitable criteria. The formula gives equal weightage (50:50) to urban population of the State/UT and the number of statutory towns in the State/UT. Based on this formula, each State/UT will, therefore, have a certain number of potential Smart Cities, with each State/UT having at least one. The number of potential Smart Cities from each State/UT will be capped at the indicated number. This distribution formula has also been used for allocation of funds under Atal Mission for Rejuvenation and Urban Transformation - AMRUT.

        The distribution of Smart Cities will be reviewed after two years of the implementation of the Mission. Based on an assessment of the performance of States/ULBs in the Challenge, some re-allocation of the remaining potential Smart Cities among States may be required to be done by the Ministry of Urban Development.


        <div class="clearfix mar_top2"></div>

        <p>

        </p>

        <div class="clearfix divider_line2"></div>




    </div><!-- end content left -->
    <!-- right sidebar starts -->
    <div class="right_sidebar">

        <div class="sidebar_widget">
            <div class="sidebar_title"><h3>More <i>About Us</i></h3></div>
            <ul class="arrows_list1">
                <li><a href="/Events/Albums"><i class="fa fa-angle-right"></i>Photos</a></li>
                <li><a href="/Events/Media"><i class="fa fa-angle-right"></i>Media</a></li>
                <li><a href="/Events"><i class="fa fa-angle-right"></i>Events</a></li>
                <li><a href="/Projects/Abd"><i class="fa fa-angle-right"></i>ABD Projects</a></li>
            </ul>
        </div><!-- end section -->

        <div class="clearfix mar_top4"></div>













    </div><!-- end right sidebar -->





</div><!-- end content area -->


<div class="clearfix mar_top5"></div>