
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<div class="clearfix"></div>

<div class="page_title">

    <div class="container">
        <div class="title"><h1>About our team</h1></div>
        <div class="pagenation">&nbsp;<a href="index.html">Home</a> <i>/</i> <a href="#">Pages</a> <i>/</i> About our team</div>
    </div>
</div><!-- end page title -->
<!-- Contant
======================================= -->

<div class="container">

    <div class="content_left">
           
        <!-- team -->
        <div class="our_team_box">
            <h2>Meet Our <strong>Team</strong></h2>

            <div class="boxleft">
                <div class="cont-area">
                    <img src="http://placehold.it/210x230" alt="" class="teammempic" />
                    <ul>
                        <li><strong>Mark Frances<i> - ceo</i></strong></li>
                        <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest fa-lg"></i></a></li>
                    </ul>
                </div>
                <p>Passage with the recente desktop software we like versions avaliable.</p>
            </div>


            <div class="boxleft">
                <div class="cont-area">
                    <img src="http://placehold.it/210x230" alt="" class="teammempic" />
                    <ul>
                        <li><strong>Lexi Penelope<i> - manager</i></strong></li>
                        <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest fa-lg"></i></a></li>
                    </ul>
                </div>
                <p>Passage with the recente desktop software we like versions avaliable.</p>
            </div>


            <div class="boxleft">
                <div class="cont-area">
                    <img src="http://placehold.it/210x230" alt="" class="teammempic" />
                    <ul>
                        <li><strong>Jacob Leighton<i> - developer</i></strong></li>
                        <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest fa-lg"></i></a></li>
                    </ul>
                </div>
                <p>Passage with the recente desktop software we like versions avaliable.</p>
            </div>


            <div class="boxright">
                <div class="cont-area">
                    <img src="http://placehold.it/210x230" alt="" class="teammempic" />
                    <ul>
                        <li><strong>Anya Sienna<i> - member</i></strong></li>
                        <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest fa-lg"></i></a></li>
                    </ul>
                </div>
                <p>Passage with the recente desktop software we like versions avaliable.</p>
            </div>

        </div><!-- end team -->

        <div class="clearfix divider_line2"></div>

        

    </div><!-- end content left side area -->
    <!-- right sidebar starts -->
    <div class="right_sidebar">

        <div class="sidebar_widget">
            <div class="sidebar_title"><h3>More <i>About Us</i></h3></div>
            <ul class="arrows_list1">
                <li><a href="#"><i class="fa fa-angle-right"></i> Our History</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> Professional Research</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> Our Development</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> Partnership With Us</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> Company Carreer</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> New Technology</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> Client Testimonials</a></li>
            </ul>
        </div><!-- end section -->


        


      

    </div>


</div><!-- end content area -->


<div class="clearfix mar_top4"></div>
