<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="/home"><i class="fa fa-home fa-fw nav_icon"></i>Home</a>
            </li>
            <li>
                <a href="/Slider"><i class="fa fa-picture-o fa-fw nav_icon"></i>Slider</a>
            </li>
            <li>
                <a href="#"><i class="home.aspx"></i><span class="fa fa-picture-o fa-fw nav_icon"></span> ABD  Project</a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/ABDProject">ABD Project Map</a>
                    </li>
                    <li>
                        <a href="/ABDProject/ABDProjects">ABD Project Table</a>
                    </li>
                    <li>
                        <a href="/ABDProject/ABDinitiatives"> ABD Project Initiatives</a>
                    </li>


                </ul>

                <!-- /.nav-second-level -->
            </li>


            <li>
                <a href="/PanCityProject"><i class="home.aspx"></i><span class="fa fa-picture-o fa-fw nav_icon"></span> PAN City Project</a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/PanCityProject">PanCity Project Structure</a>
                    </li>
                    <li>
                        <a href="/PanCityProject/PancityTable">PanCity Project Table</a>
                    </li>
                    <li>
                        <a href="/PanCityProject/PancityCommand"> PanCity Project Command</a>
                    </li>


                </ul>

                <!-- /.nav-second-level -->
            </li>

            <li>
                <a href="/ABDProjectStatus"><i class="fa fa-picture-o fa-fw nav_icon"></i>ABD Project Status</a>
            </li>

            <li>
                <a href="/PancityProjectStatus"><i class="fa fa-picture-o fa-fw nav_icon"></i>Pan City Project Status</a>
            </li>


            <li>
                <a href="/Event"><i class="fa fa-calendar fa-fw nav_icon"></i>Event</a>
            </li>
            <li>
                <a href="/Gallery"><i class="fa fa-camera fa-fw nav_icon"></i>Gallery</a>
            </li>
            <li>
                <a href="/Video"><i class="fa fa-video-camera fa-fw nav_icon"></i>Media</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-pencil-square-o nav_icon"></i>News<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/News">Latest News</a>
                    </li>
                    <li>
                        <a href="whatpeoplesay.aspx">People Says</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li>
                <a href="#"><i class="fa fa-file-text-o nav_icon"></i>Pages<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Pages">About Vadodara</a>
                    </li>
                    <li>
                        <a href="whatIsSmartcity.aspx">What is Smart City?</a>
                    </li>
                    <li>
                        <a href="SmartcityCoverage.aspx">Smart City Coverage</a>
                    </li>
                    <li>
                        <a href="4.Smartcityselection.aspx">Smart City Selection</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="/Career"><i class="fa fa-pencil-square" aria-hidden="true"></i> Career</a>
            </li>


            <li>
                <a href="/Setting"><i class="fa fa-cogs" aria-hidden="true"></i> Setting</a>
            </li>

            @*<li>
        <a href="#"><i class="fa fa-check-square-o nav_icon"></i>Forms<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="forms.html">Basic Forms</a>
            </li>
            <li>
                <a href="validation.html">Validation</a>
            </li>
        </ul>*@
            <!-- /.nav-second-level -->
            @*</li>*@

            @*<li>
        <a href="#"><i class="fa fa-table nav_icon"></i>Tables<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="basic_tables.html">Basic Tables</a>
            </li>
        </ul>*@
            <!-- /.nav-second-level -->
            @*</li>*@

            @*<li>
        <a href="#"><i class="fa fa-sitemap fa-fw nav_icon"></i>Css<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="media.html">Media</a>
            </li>
            <li>
                <a href="login.aspx">Login</a>
            </li>
        </ul>*@
            <!-- /.nav-second-level -->
            @*</li>*@
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>