@model List<CityCore.Models.Tender.TenderViewModel>
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
    .get_features.tender {
        border-bottom: 1px solid #cccccc;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 0px;
        padding-top: 20px;
    }

        .get_features.tender:hover {
            box-shadow: 0 0 20px #bababa;
            position: relative;
            background: #f7f7f7;
            border-bottom-color: #f7f7f7;
        }

    .list_empty.top-space {
        padding-top: 20px;
    }
</style>

<div class="container">

    <div class="content_fullwidth">
        <div class="four_col_fusection inner">
           
            <div class="get_features tender">
                @{
        foreach (var item in Model)
        {
            <div class="one_full">@item.TenderDesc</div>

            <div class="one_fifth ">@item.StarDate   </div>
            <div class="one_fifth ">@item.EndDate    </div>
            <div class="one_fifth ">  Availability: Open   </div>
            <ul class="list_empty top-space">
                <li><a href="#" class="but_wifi"><i class="fa fa-cloud-upload fa-lg"></i> Clouds</a></li>
                <li><a href="#" class="but_wifi"><i class="fa fa-cloud-upload fa-lg"></i> Clouds</a></li>
                <li><a href="#" class="but_wifi"><i class="fa fa-cloud-upload fa-lg"></i> Clouds</a></li>
            </ul>
}
                }


            </div><!-- end section -->

              
          
        </div>
    </div>
</div>
