
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 style="text-align: center"> Recruitment List</h1>
<div class="row">
    <div class="col-md-12">

        <div class="table-responsive">
            <table class="table" id="tblCareer">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>P.R.O No</th>
                        <th>Departments</th>
                        <th>Post Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="col-md-12">
        <br />
        <a href="/Career/AddEdit" class="btn btn-primary pull-right">Add New</a>
    </div>
</div>
@section EndScripts{
    <script type="text/javascript" src="~/js/Carrer/Index.js"></script>
}
