
@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h1 style="text-align: center"> News List</h1>
<div class="row">
    <div class="col-md-12">

        <div class="table-responsive">
            <table class="table" id="tblNews">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Priority</th>
                        <th>News Type</th>
                        <th>Status</th>
                        <th>No Of Images</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="col-md-12">
        <br />
        <a href="/News/AddEdit" class="btn btn-primary pull-right">Add New</a>
    </div>
</div>
@section EndScripts{
    <script type="text/javascript" src="~/js/News/Index.js"></script>
}

