
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- Contant
======================================= -->

<div class="container">

    <div class="content_left">

        <h2>History of <strong><i>Vadodara</i></strong></h2>

        <p>
            Vadodara (formerly known as Baroda) is the third-largest[7] city in the Western Indian state of Gujarat, after Ahmedabad and Surat. It is the administrative headquarters of Vadodara District and is located on the banks of the Vishwamitri river, 139 kilometres (86 mi) from the state capital Gandhinagar. The railway line and NH 8 that connect Delhi and Mumbai pass through Vadodara.

            As of 2011, Vadodara had a population of almost 1.8 million+ people.[8] The city is known for the Lakshmi Vilas Palace, the residence of Baroda State's Maratha royal family, the Gaekwads. It is also the home of the Maharaja Sayajirao University of Baroda, the largest university in Gujarat. An important industrial, cultural and educational hub of western India, the city houses several institutions of national and regional importance while its major industries include petrochemicals, engineering, chemicals, pharmaceuticals, plastics, IT and foreign exchange services.
        </p>

        <div class="clearfix mar_top2"></div>

        <p>
            Economy

            In Vadodara various large-scale industries such as Indian Oil Corporation(IOCL), Gujarat State Fertilizers & Chemicals (GSFC), Indian Petrochemicals Corporation Limited (IPCL, now owned by Reliance Industries Limited) and Gujarat Alkalies and Chemicals Limited (GACL) have come up in the vicinity of Gujarat Refinery and all of them are dependent on it for their fuel and feedstock. Other large-scale public sector units are Heavy Water Project, Gujarat Industries Power Company Limited (GIPCL), Oil and Natural Gas Corporation (ONGC) & Gas Authority of India Limited (GAIL). In addition to these public sector enterprises, a number of other large-scale enterprises have come up in the private sector such as Bombardier Transportation.[19][20]

            Located in Vadodara are over 35% India's power transmission and distribution equipment manufacturers and an estimated 800 ancillaries supporting the big players in Power Sector equipment manufacturing and engineering industry.[21]

            In line with the 'Knowledge City'[22] vision of the Confederation of Indian Industry, Vadodara is gradually becoming a hub in Gujarat for IT and other development projects.

            Vadodara is also home to the Vadodara Stock Exchange (VSE).
        </p>

        <div class="clearfix divider_line2"></div>

       


    </div><!-- end content left -->
    <!-- right sidebar starts -->
    <div class="right_sidebar">

        <div class="sidebar_widget">
            <div class="sidebar_title"><h3>More <i>About Us</i></h3></div>
            <ul class="arrows_list1">
                <li><a href="/Events/Albums"><i class="fa fa-angle-right"></i>Photos</a></li>
                <li><a href="/Events/Media"><i class="fa fa-angle-right"></i>Media</a></li>
                <li><a href="/Events"><i class="fa fa-angle-right"></i>Events</a></li>
                <li><a href="/Projects/Abd"><i class="fa fa-angle-right"></i>ABD Projects</a></li>
               
            </ul>
        </div><!-- end section -->

        <div class="clearfix mar_top4"></div>

       

  

       

        



      

    </div><!-- end right sidebar -->





</div><!-- end content area -->


<div class="clearfix mar_top5"></div>