
@{
    Layout = "_LayoutAdmin";
}
<style type="text/css">


    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .auto-style2 {
        width: 309px;
    }

    .auto-style3 {
        height: 0px;
        margin-top: 0;
    }
</style>
<h3 style="text-align: center;">Welcome to Admin Area of  <strong>www.VadodaraSmartCity.in</strong> </h3>
<p>
    <table>
        <tr>
            <th class="auto-style2">Menu</th>
            <th>Changes</th>
        </tr>
        <tr>
            <td class="auto-style2">Slider</td>
            <td>In this section&nbsp; you Can Change Slider of our official web</td>
        </tr>
        <tr>
            <td class="auto-style2">Project</td>
            <td>
                In this section&nbsp; you can edit,update,delete
                <br />
                1.PAN City Project
                <br />
                2.ABD Project<br />
                3.Project Cost<br />
            </td>
        </tr>
        <tr>
            <td class="auto-style2">Event</td>
            <td>In this section you can create,update,delete on Events page</td>
        </tr>
        <tr>
            <td class="auto-style2">Gallery</td>
            <td>In this section you can Creat album and insert or delete images on Gallery Page</td>
        </tr>
        <tr>
            <td class="auto-style2">Media</td>
            <td>In this section you can upload and delete media on Media page</td>
        </tr>
        <tr>
            <td class="auto-style2">News</td>
            <td>Here yoy can change latest news and what people says section on Home page</td>
        </tr>
        <tr>
            <td class="auto-style2">Pages</td>
            <td>
                Here you can change fix Pages
                <br />
                1.About Vadodara<br />
                2.What is Smart city<br />
                3.Smart City selection<br />
                4.Smart city coverage
            </td>
        </tr>
    </table>
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p class="auto-style3">&nbsp;</p>