
@{
    ViewData["Title"] = "Slider";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    var noOfSliders = 2;
}

<style type="text/css">


    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .auto-style1 {
        width: 410px;
    }

    .auto-style2 {
        width: 412px;
    }

    .auto-style3 {
        width: 100%;
        height: 132px;
    }
</style>

<h1 style="text-align: center"> Change Slider Images</h1>


<table class="auto-style3">
    @{
<thead>
    <tr>
        <td  class="text-center"><b>File</b></td>
        <td class="text-center"><b>Upload</b></td>
        <td class="text-center"><b>Action</b></td>
    </tr>
</thead>
        for (int i = 0; i < 1; i++)
        {
            var n = i + 1;
            var cssClass = "auto-style" + n;
            var fileClass = "slider-upload" + n;
            <tr>
                <td class="@cssClass">
                    &nbsp;Slider Image @n &nbsp;&nbsp;

                    
                </td>
                <td>
                    <input type="file" class="btn btn-default btn-file slider-image @fileClass"/>
                    <label class="pull-left">file1.jpg</label>
                    <div class="margin-top">
                        <a href="javascript:void(0)" class="btn btn-sm btn-info pull-right btnSave"><i class="fa fa-floppy-o"></i> Save</a>
                    </div>

                </td>
                @*<td class="auto-style2">&nbsp;Slider Image 2</td>
                    <td>&nbsp;Slider Image 3&nbsp;&nbsp;</td>*@
                <td class="@cssClass">
                    <div class="pull-right">
                        <button class="btn btn-sm btn-primary"><i class="fa fa-eye"></i> Preview</button>
                        <button class="btn btn-sm btn-danger"><i class="fa fa-times"></i> Delete</button>
                    </div>

                </td>
            </tr>
           






        }
    }


</table>

<button class="btn btn-primary margin-top pull-right"><i class="fa fa-floppy-o"></i> Save All</button>

@*@section EndScripts{ 
<script src="~/js/Slider/Index.js"></script>
}*@