@using CityCore.Models
@model WelcomeViewModel

@{
    Layout = "_UserLayout";
}

<div class="container_full">

    <div class="fullwidthbanner-container">

        <div class="fullwidthbanner">

            <ul>
                <!-- SLIDE 1 -->
                @{

                    foreach (var item in Model.SliderImages)

                    {
                        <li data-transition="fade" data-slotamount="9" data-thumb="http://placehold.it/1920x500">

                            <img src="@item.Url" alt="" height="500" width="1920" />


                        </li>
                        <!-- SLIDE 2 -->


                    }



                }@*  <!-- SLIDE 2 -->
                    <li data-transition="slideleft" data-slotamount="9" data-thumb="http://placehold.it/1920x500">

                        <img src="http://placehold.it/1920x500" alt="" />

                        <div class="caption sfb" data-x="500" data-y="0" data-speed="900" data-start="900" data-easing="easeOutSine"><img src="http://placehold.it/670x500" alt="" /></div>

                        <div class="caption lft big_white" data-x="10" data-y="120" data-speed="900" data-start="700" data-easing="easeOutExpo">Tablet &amp; Mobile</div>

                        <div class="caption lfb big_white_two" data-x="10" data-y="162" data-speed="900" data-start="1300" data-easing="easeOutExpo">Compatible</div>

                        <div class="caption sfr stb large_text" data-x="270" data-y="140" data-speed="900" data-start="2000" data-easing="easeOutExpo">Device</div>

                        <div class="caption lfb h_line" data-x="10" data-y="220" data-speed="900" data-start="2200" data-easing="easeOutExpo"></div>

                        <div class="caption lfb small_text" data-x="10" data-y="241" data-speed="900" data-start="2700" data-easing="easeOutExpo">When an unknown printer took galley of type and scrambled it to make <br /> type dummy text ever since the specimen books.</div>

                        <div class="caption lfb h_line" data-x="10" data-y="320" data-speed="900" data-start="3000" data-easing="easeOutExpo"></div>

                        <div class="caption lfb" data-x="10" data-y="357" data-speed="900" data-start="3500" data-easing="easeOutExpo"><a href="#" class="button_slider">Read more <i class="fa fa-angle-right fa-lg"></i></a></div>

                        <div class="caption sfb stb medium_text" data-x="162" data-y="367" data-speed="900" data-start="3800" data-easing="easeOutExpo">or</div>

                        <div class="caption lfb" data-x="190" data-y="358" data-speed="900" data-start="4300" data-easing="easeOutExpo"><a href="#" class="button_slider_02">Buy Now! <i class="fa fa-angle-right fa-lg"></i></a></div>

                    </li>


                    <!-- SLIDE 3 -->
                    <li data-transition="papercut" data-slotamount="9" data-thumb="http://placehold.it/1920x500">

                        <img src="http://placehold.it/1920x500" alt="" />

                        <div class="caption lfb big_white" data-x="0" data-y="200" data-speed="900" data-start="700" data-easing="easeOutExpo"><div class="display_text_center">Find the Benefits of Using Qnima. &amp; Recommended Highly</div></div>

                        <div class="caption lfb large_text" data-x="0" data-y="270" data-speed="900" data-start="1300" data-easing="easeOutExpo"><div class="display_text_center">Build Smarter Stuff!</div></div>

                    </li>*@

            </ul>

        </div>

    </div>


</div><!-- end slider -->



<div class="layout1_fusection1">
    <div class="container">

        <h1>
            Our <strong> Vadodara City Development</strong> Project
            <br>
            <i>Develop culturally rich and eclectic city with enhanced opportunities for trade and commerce.</i>
        </h1>

        <div class="one_third">
            <img src="~/images/Projects/pancity.jpg" alt="" height="190" width="328" />
            <h3>Pan City Project</h3>
            <p>The proposal aims to improve public services and citizen interface. It is centered around the theme of Citizen Friendly Vadodara through Intelligent Transport and Connectivity.</p>
            <div class="clearfix mar_top3"></div>
            <a href="#">View Details</a>
        </div>
        <div class="one_third">
            <img src="~/images/Projects/abd.jpg" alt="" height="190" width="328" />
            <h3>ABD Area Project</h3>
            <p>It is envisaged that the area under consideration will transform into a well-planned urban space with sustainable and rationally incremental economic development and activity.</p>
            <div class="clearfix mar_top3"></div>
            <a href="/Projects/Abd">View Details</a>
        </div>
        <div class="one_third last">
            <img src="~/images/Projects/projectcost.jpg" alt="" height="190" width="328" />
            <h3>Project Cost</h3>
            <p>The urban development ministry has estimated the amout needed to built Prime Minister Narendra Modi’s grand vision to build 100 Smart Cities.And it says that Rs 7 lakh crore over the next 20 years</p>
            <div class="clearfix mar_top3"></div>
            <a href="#">View Details</a>
        </div>

    </div>
</div><!-- end features section 1 -->

<div class="clearfix"></div>




<div class="fresh_projects">

    <div class="container">

        <h1>
            Check our <strong>Projects</strong>
            <br />
            <i>Projects Under Vadodara Smart City Mission</i>
        </h1>

        <ul id="mycarouseltwo" class="jcarousel-skin-tango">

            <li>
                <div class="item">
                    <div class="fresh_projects_list">
                        <section class="cheapest">
                            <div class="display">
                                <div class="small-group">
                                    <div class="small money">
                                        <img src="~/images/Projects/pro1.jpg" alt=""   height="300" width="275" >
                                        <div class="info">
                                            <div class="title">
                                                Green Vadodara
                                                <ul>
                                                    <li><a href="#"><img src="images/fa-icon.png" alt="" /></a></li>
                                                    <li><a href="#"><img src="images/twitter-icon.png" alt="" /></a></li>
                                                    <li><a href="#"><img src="images/like-icon.png" alt="" /></a></li>
                                                </ul>
                                            </div>
                                            <div class="additionnal">
                                                There are many variations pasages
                                                lpsum available but in the majority
                                                have suffered alteration [...]<br /><br />
                                                <b><a href="#">more ></a></b>
                                            </div>
                                        </div>
                                        <div class="hover"></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </li><!-- end item -->

            <li>
                <div class="item">
                    <div class="fresh_projects_list">
                        <section class="cheapest">
                            <div class="display">
                                <div class="small-group">
                                    <div class="small money">
                                        <img src="~/images/Projects/pro2.jpg" alt=""  height="300" width="275">
                                        <div class="info">
                                            <div class="title">
                                                Solar Roof Top
                                                <ul>
                                                    <li><a href="#"><img src="images/fa-icon.png" alt="" /></a></li>
                                                    <li><a href="#"><img src="images/twitter-icon.png" alt="" /></a></li>
                                                    <li><a href="#"><img src="images/like-icon.png" alt="" /></a></li>
                                                </ul>
                                            </div>
                                            <div class="additionnal">
                                                There are many variations pasages
                                                lpsum available but in the majority
                                                have suffered alteration [...]<br /><br />
                                                <b><a href="#">more ></a></b>
                                            </div>
                                        </div>
                                        <div class="hover"></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </li><!-- end item -->

            <li>
                <div class="item">
                    <div class="fresh_projects_list">
                        <section class="cheapest">
                            <div class="display">
                                <div class="small-group">
                                    <div class="small money">
                                        <img src="~/images/Projects/pro3.jpg" alt=""  height="300" width="275">
                                        <div class="info">
                                            <div class="title">
                                              E Rickshaw & Tricycles
                                                <ul>
                                                    <li><a href="#"><img src="images/fa-icon.png" alt="" /></a></li>
                                                    <li><a href="#"><img src="images/twitter-icon.png" alt="" /></a></li>
                                                    <li><a href="#"><img src="images/like-icon.png" alt="" /></a></li>
                                                </ul>
                                            </div>
                                            <div class="additionnal">
                                                There are many variations pasages
                                                lpsum available but in the majority
                                                have suffered alteration [...]<br /><br />
                                                <b><a href="#">more ></a></b>
                                            </div>
                                        </div>
                                        <div class="hover"></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </li><!-- end item -->

            <li>
                <div class="item">
                    <div class="fresh_projects_list">
                        <section class="cheapest">
                            <div class="display">
                                <div class="small-group">
                                    <div class="small money">
                                        <img src="~/images/Projects/pro4.jpg" alt=""  height="300" width="275">
                                        <div class="info">
                                            <div class="title">
                                                CCC Building
                                                <ul>
                                                    <li><a href="#"><img src="images/fa-icon.png" alt="" /></a></li>
                                                    <li><a href="#"><img src="images/twitter-icon.png" alt="" /></a></li>
                                                    <li><a href="#"><img src="images/like-icon.png" alt="" /></a></li>
                                                </ul>
                                            </div>
                                            <div class="additionnal">
                                                There are many variations pasages
                                                lpsum available but in the majority
                                                have suffered alteration [...]<br /><br />
                                                <b><a href="#">more ></a></b>
                                            </div>
                                        </div>
                                        <div class="hover"></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </li><!-- end item -->

            <li>
                <div class="item">
                    <div class="fresh_projects_list">
                        <section class="cheapest">
                            <div class="display">
                                <div class="small-group">
                                    <div class="small money">
                                        <img src="http://placehold.it/275x300" alt="">
                                        <div class="info">
                                            <div class="title">
                                                Suspendisse Opens
                                                <ul>
                                                    <li><a href="#"><img src="images/fa-icon.png" alt="" /></a></li>
                                                    <li><a href="#"><img src="images/twitter-icon.png" alt="" /></a></li>
                                                    <li><a href="#"><img src="images/like-icon.png" alt="" /></a></li>
                                                </ul>
                                            </div>
                                            <div class="additionnal">
                                                There are many variations pasages
                                                lpsum available but in the majority
                                                have suffered alteration [...]<br /><br />
                                                <b><a href="#">more ></a></b>
                                            </div>
                                        </div>
                                        <div class="hover"></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </li><!-- end item -->

            <li>
                <div class="item">
                    <div class="fresh_projects_list">
                        <section class="cheapest">
                            <div class="display">
                                <div class="small-group">
                                    <div class="small money">
                                        <img src="images/site-img07.jpg" alt="">
                                        <div class="info">
                                            <div class="title">
                                                Malesuada Magna
                                                <ul>
                                                    <li><a href="#"><img src="images/fa-icon.png" alt="" /></a></li>
                                                    <li><a href="#"><img src="images/twitter-icon.png" alt="" /></a></li>
                                                    <li><a href="#"><img src="images/like-icon.png" alt="" /></a></li>
                                                </ul>
                                            </div>
                                            <div class="additionnal">
                                                There are many variations pasages
                                                lpsum available but in the majority
                                                have suffered alteration [...]<br /><br />
                                                <b><a href="#">more ></a></b>
                                            </div>
                                        </div>
                                        <div class="hover"></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </li><!-- end item -->

            <li>
                <div class="item">
                    <div class="fresh_projects_list">
                        <section class="cheapest">
                            <div class="display">
                                <div class="small-group">
                                    <div class="small money">
                                        <img src="images/site-img08.jpg" alt="">
                                        <div class="info">
                                            <div class="title">
                                                Model the Structures
                                                <ul>
                                                    <li><a href="#"><img src="images/fa-icon.png" alt="" /></a></li>
                                                    <li><a href="#"><img src="images/twitter-icon.png" alt="" /></a></li>
                                                    <li><a href="#"><img src="images/like-icon.png" alt="" /></a></li>
                                                </ul>
                                            </div>
                                            <div class="additionnal">
                                                There are many variations pasages
                                                lpsum available but in the majority
                                                have suffered alteration [...]<br /><br />
                                                <b><a href="#">more ></a></b>
                                            </div>
                                        </div>
                                        <div class="hover"></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </li><!-- end item -->

        </ul>

    </div>

</div><!-- end fresh projects -->

<div class="clearfix"></div>

<div class="layout1_fusection2">
    <div class="container">

        @*<h1>
            Awesome <strong>Features</strong>
            <br />
            <i>Printer took a galley of and scrambled it to make a specimen book has survived not only five centuries.</i>
        </h1>*@

        @*<div class="left_sec"><img src="images/layout1-siteimg4.png" alt="" /></div>*@<!-- end left section -->

        @*<div class="right_sec">
            <ul>
                <li class="left"><i class="fa fa-coffee fa-3x"></i></li>
                <li class="right"><h4>4 Diffrent Layouts Check all Demos</h4> Necessary making this the first true generator on the Internet.</li>
                <li class="left"><i class="fa fa-leaf fa-3x"></i></li>
                <li class="right"><h4>Smart and Flexible Styled Templates</h4> Necessary making this the first true generator on the Internet.</li>
                <li class="left"><i class="fa fa-cog fa-3x"></i></li>
                <li class="right"><h4>Well Structured &amp; Cross Browsered</h4> Necessary making this the first true generator on the Internet.</li>
            </ul>
        </div>*@<!-- end right section -->

        <div class="clearfix mar_top3"></div>

        <div class="one_third">
           <h3>Photos</h3>
           <a href="/Events/Albums">  <img src="~/images/Projects/gall.jpg" alt="" height="130" width="250" /><br /></a>
            There are many variations of passages in the lorem available majority alteration some.
        </div><!-- end section -->

        <div class="one_third">
            <h3>Events</h3>
             <a href="/Events"> <img src="~/images/Projects/evt.jpg" alt="" height="130" width="250"  /><br /></a>
            There are many variations of passages in the lorem available majority alteration some.
        </div><!-- end section -->

        <div class="one_third last">
            <h3>Videos</h3>
             <a href="/Events/Media"><img src="~/images/Projects/media.jpg" alt="" height="130" width="250" /><br /></a>
            There are many variations of passages in the lorem available majority alteration some.
        </div><!-- end section -->

    </div>
</div><!-- end layout1 fusection2 -->





<div class="clearfix"></div>

<div class="bottom_sec">
    <div class="container">

        <div class="one_half">
            <h3>Latest new’s</h3>

            <div class="faide_slider">

                <div id="slider">

                    <ul class="controlls">
                        <li><a href="#" class="slide3"></a></li>
                        <li><a href="#" class="slide2"></a></li>
                        <li><a href="#" class="slide1"></a></li>
                    </ul>

                    <div id="slide1">
                        <ul class="latest_news">
                            <li class="left"><img src="~/images/news/news.jpg" alt="" height="160" width="200" /></li>
                            <li><i><a href="#">Latest Baroda Update</a></i></li>
                            <li class="small"><a href="#" class="date">Nov 18, 2013</a> | <a href="http://themeforest.net/user/gsrthemes9/portfolio" target="_blank">GSRthemes9</a></li>
                            <li>The Vadodara Municipal Corporation (VMC) on Monday drew plans to finish the lake renovation project within 14 months</li>
                            <li><a href="/News" class="button_go">Read more</a></li>
                        </ul>
                    </div><!-- end slide1 -->

                    @*<div id="slide2">
                        <ul class="latest_news">
                            <li class="left"><img src="~/images/news/rao.jpg" alt="" height="160" width="200" /></li>
                            <li><i><a href="#">PageMaker including versions</a></i></li>
                            <li class="small"><a href="#" class="date">Nov 17, 2013</a> | <a href="http://themeforest.net/user/gsrthemes9/portfolio" target="_blank">GSRthemes9</a></li>
                            <li>Aarious version have evolve over the many years sometimes by accident, sometimes on purpose first true generator on the Internet.</li>
                            <li><a href="/News" class="button_go">Read more</a></li>
                        </ul>
                    </div>*@<!-- end slide2 -->

                    @*<div id="slide3">
                        <ul class="latest_news">
                            <li class="left"><img src="http://placehold.it/200x160" alt="" /></li>
                            <li><i><a href="#">Many web sites still in fancy</a></i></li>
                            <li class="small"><a href="#" class="date">Nov 16, 2013</a> | <a href="http://themeforest.net/user/gsrthemes9/portfolio" target="_blank">GSRthemes9</a></li>
                            <li>Aarious version have evolve over the many years sometimes by accident, sometimes on purpose first true generator on the Internet.</li>
                            <li><a href="/News" class="button_go">Read more</a></li>
                        </ul>
                    </div>*@<!-- end slide3 -->

                </div>

            </div>

        </div><!-- end news section -->


        <div class="one_half last">
            <h3>What people say’s</h3>

            <div class="faide_slider_02">

                <div id="slider02">

                    <ul class="controlls02">
                        <li><a href="#" class="slide04"></a></li>
                        <li><a href="#" class="slide03"></a></li>
                        <li><a href="#" class="slide02"></a></li>
                        <li><a href="#" class="slide01"></a></li>
                    </ul>

                    <div id="slide01">
                        <ul class="latest_news">
                           <li class="left"><img src="~/images/news/news.jpg" alt="" height="160" width="200" /></li>
                            <li><i><a href="#">Latest Baroda Update</a></i></li>
                            <li class="small"><a href="#" class="date">Nov 18, 2013</a> | <a href="http://themeforest.net/user/gsrthemes9/portfolio" target="_blank">GSRthemes9</a></li>
                            <li>The Vadodara Municipal Corporation (VMC) on Monday drew plans to finish the lake renovation project within 14 months</li>
                            <li><a href="/News" class="button_go">Read more</a></li>
                        </ul>
                    </div><!-- end slide01 -->

                    <div id="slide02">
                        <ul class="testi_monials">
                            <li class="left"><img src="http://placehold.it/170x160" alt="" /></li>
                            <li class="right"><strong>"</strong> There are many variations passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected randomise words which don't look even believable. <strong>"</strong></li>
                            <li><b>- Lucia Penelope</b></li>
                            <li><em>customer</em></li>
                        </ul>
                    </div><!-- end slide02 -->

                    <div id="slide03">
                        <ul class="testi_monials">
                            <li class="left"><img src="http://placehold.it/170x160" alt="" /></li>
                            <li class="right"><strong>"</strong> There are many variations passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected randomise words which don't look even believable. <strong>"</strong></li>
                            <li><b>- Cody Jenson</b></li>
                            <li><em>customer</em></li>
                        </ul>
                    </div><!-- end slide03 -->

                    <div id="slide04">
                        <ul class="testi_monials">
                            <li class="left"><img src="http://placehold.it/170x160" alt="" /></li>
                            <li class="right"><strong>"</strong> There are many variations passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected randomise words which don't look even believable. <strong>"</strong></li>
                            <li><b>- Diyana Florence</b></li>
                            <li><em>customer</em></li>
                        </ul>
                    </div><!-- end slide04 -->

                </div>

            </div>

        </div><!-- end people says -->

    </div>

    <div class="clearfix"></div>
    <div class="mar_top5"></div>

    <div class="clients">

        <div class="container">
            <div class="border_line1"></div>
            <div class="clearfix mar_top3"></div>

            <div class="clients_inner">

                <ul id="mycarouselthree" class="jcarousel-skin-tango">
                    <li><img src="~/images/Clientlogo/datagov.jpg" alt=""></li>
                    <li><img src="~/images/Clientlogo/digit.jpg" alt=""></li>
                    <li><img src="~/images/Clientlogo/make.jpg" alt=""></li>
                    <li><img src="~/images/Clientlogo/mygov.jpg" alt=""></li>
                    <li><img src="~/images/Clientlogo/swachh.jpg" alt=""></li>
                    <li><img src="~/images/Clientlogo/" alt=""></li>
                /li>
                </ul>

            </div>

            <div class="clearfix mar_top3"></div>
            <div class="border_line1"></div>
            <div class="border_line2"></div>
            <div class="border_line3"></div>
        </div>

    </div><!-- end clients -->

    @*<div class="container">
        <div class="bottom_buts">

            <a href="#">more information</a> <img src="images/or-bg.png" alt="" /> <a href="#">purchase now!</a>

        </div>
    </div>*@<!-- end bottom buttons -->

</div><!-- end bottom all sections -->


<div class="clearfix mar_top1"></div>
