
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@*<h2>Events page design goes here</h2>*@

<!-- Contant
======================================= -->

<div class="container">

    <div class="content_left">

        <div class="blog_post">
            <div class="blog_postcontent">
                <div class="image_frame small"><a href="#"><img src="http://placehold.it/810x360" alt="" /></a></div>
                <div class="post_info_content_small">
                    <a href="blog-archive.html" class="date"><strong>18</strong><i>October</i></a>
                    <h3><a href="blog-post.html">Lorem simply dummy text of the industry</a></h3>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><i class="fa fa-user"></i> <a href="#">Harris jo</a></li>
                        <li class="post_categoty"><i class="fa fa-folder-open"></i> <a href="#">Web tutorials</a></li>
                        <li class="post_comments"><i class="fa fa-comments"></i> <a href="#">18 Comments</a></li>
                    </ul>

                    <div class="clearfix"></div>

                    <p>There are many variations passages of available but theses in majority have suffered alteration in some form injecte humou or randomised words which don't looks even slightly believable embarrassing hidden in the middle.</p>

                </div>
            </div>
        </div><!-- /# end post -->

        <div class="clearfix divider_line3"></div>

        <div class="blog_post">
            <div class="blog_postcontent">
                <div class="video_frame small"><iframe src="http://www.youtube.com/embed/4mu0Gh8GVfU"></iframe></div>
                <div class="post_info_content_small">
                    <a href="blog-archive.html" class="date"><strong>17</strong><i>October</i></a>
                    <h3><a href="blog-post.html">There are many variations passages</a></h3>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><i class="fa fa-user"></i> <a href="#">Adam</a></li>
                        <li class="post_categoty"><i class="fa fa-folder-open"></i> <a href="#">Photography</a></li>
                        <li class="post_comments"><i class="fa fa-comments"></i> <a href="#">12 Comments</a></li>
                    </ul>

                    <div class="clearfix"></div>

                    <p>There are many variations passages of available but theses in majority have suffered alteration in some form injecte humou or randomised words which don't looks even slightly believable embarrassing hidden in the middle.</p>

                </div>
            </div>
        </div><!-- /# end post -->

        <div class="clearfix divider_line3"></div>

        <div class="blog_post">
            <div class="blog_postcontent">
                <div class="image_frame small"><a href="#"><img src="http://placehold.it/810x360" alt="" /></a></div>
                <div class="post_info_content_small">
                    <a href="blog-archive.html" class="date"><strong>16</strong><i>October</i></a>
                    <h3><a href="blog-post.html">Lorem Ipsum passage and going through</a></h3>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><i class="fa fa-user"></i> <a href="#">Adams</a></li>
                        <li class="post_categoty"><i class="fa fa-folder-open"></i> <a href="#">WP Themes</a></li>
                        <li class="post_comments"><i class="fa fa-comments"></i> <a href="#">10 Comments</a></li>
                    </ul>

                    <div class="clearfix"></div>

                    <p>There are many variations passages of available but theses in majority have suffered alteration in some form injecte humou or randomised words which don't looks even slightly believable embarrassing hidden in the middle.</p>

                </div>
            </div>
        </div><!-- /# end post -->

        <div class="clearfix divider_line3"></div>

        <div class="blog_post">
            <div class="blog_postcontent">
                <div class="image_frame small"><a href="#"><img src="http://placehold.it/810x360" alt="" /></a></div>
                <div class="post_info_content_small">
                    <a href="blog-archive.html" class="date"><strong>15</strong><i>October</i></a>
                    <h3><a href="blog-post.html">Injected humour words</a></h3>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><i class="fa fa-user"></i> <a href="#">Harrison</a></li>
                        <li class="post_categoty"><i class="fa fa-folder-open"></i> <a href="#">Web tutorials</a></li>
                        <li class="post_comments"><i class="fa fa-comments"></i> <a href="#">18 Comments</a></li>
                    </ul>

                    <div class="clearfix"></div>

                    <p>There are many variations passages of available but theses in majority have suffered alteration in some form injecte humou or randomised words which don't looks even slightly believable embarrassing hidden in the middle.</p>

                </div>
            </div>
        </div><!-- /# end post -->

        <div class="clearfix divider_line3"></div>

        <div class="blog_post">
            <div class="blog_postcontent">
                <div class="image_frame small"><a href="#"><img src="http://placehold.it/810x360" alt="" /></a></div>
                <div class="post_info_content_small">
                    <a href="blog-archive.html" class="date"><strong>14</strong><i>October</i></a>
                    <h3><a href="blog-post.html">Latin words comined handful of mode</a></h3>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><i class="fa fa-user"></i> <a href="#">Harrison</a></li>
                        <li class="post_categoty"><i class="fa fa-folder-open"></i> <a href="#">Web tutorials</a></li>
                        <li class="post_comments"><i class="fa fa-comments"></i> <a href="#">18 Comments</a></li>
                    </ul>

                    <div class="clearfix"></div>

                    <p>There are many variations passages of available but theses in majority have suffered alteration in some form injecte humou or randomised words which don't looks even slightly believable embarrassing hidden in the middle.</p>

                </div>
            </div>
        </div><!-- /# end post -->

        <div class="clearfix divider_line3"></div>

        <div class="blog_post">
            <div class="blog_postcontent">
                <div class="image_frame small"><a href="#"><img src="http://placehold.it/810x360" alt="" /></a></div>
                <div class="post_info_content_small">
                    <a href="blog-archive.html" class="date"><strong>13</strong><i>October</i></a>
                    <h3><a href="blog-post.html">Latin words comined handful of mode</a></h3>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><i class="fa fa-user"></i> <a href="#">Harrison</a></li>
                        <li class="post_categoty"><i class="fa fa-folder-open"></i> <a href="#">Web tutorials</a></li>
                        <li class="post_comments"><i class="fa fa-comments"></i> <a href="#">18 Comments</a></li>
                    </ul>

                    <div class="clearfix"></div>

                    <p>There are many variations passages of available but theses in majority have suffered alteration in some form injecte humou or randomised words which don't looks even slightly believable embarrassing hidden in the middle.</p>

                </div>
            </div>
        </div><!-- /# end post -->

        <div class="clearfix divider_line3"></div>

        <div class="blog_post">
            <div class="blog_postcontent">
                <div class="image_frame small"><a href="#"><img src="http://placehold.it/810x360" alt="" /></a></div>
                <div class="post_info_content_small">
                    <a href="blog-archive.html" class="date"><strong>12</strong><i>October</i></a>
                    <h3><a href="blog-post.html">Latin words comined handful of mode</a></h3>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><i class="fa fa-user"></i> <a href="#">Harrison</a></li>
                        <li class="post_categoty"><i class="fa fa-folder-open"></i> <a href="#">Web tutorials</a></li>
                        <li class="post_comments"><i class="fa fa-comments"></i> <a href="#">18 Comments</a></li>
                    </ul>

                    <div class="clearfix"></div>

                    <p>There are many variations passages of available but theses in majority have suffered alteration in some form injecte humou or randomised words which don't looks even slightly believable embarrassing hidden in the middle.</p>

                </div>
            </div>
        </div><!-- /# end post -->

        <div class="clearfix divider_line3"></div>

        <div class="blog_post">
            <div class="blog_postcontent">
                <div class="image_frame small"><a href="#"><img src="http://placehold.it/810x360" alt="" /></a></div>
                <div class="post_info_content_small">
                    <a href="blog-archive.html" class="date"><strong>11</strong><i>October</i></a>
                    <h3><a href="blog-post.html">Latin words comined handful of mode</a></h3>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><i class="fa fa-user"></i> <a href="#">Harrison</a></li>
                        <li class="post_categoty"><i class="fa fa-folder-open"></i> <a href="#">Web tutorials</a></li>
                        <li class="post_comments"><i class="fa fa-comments"></i> <a href="#">18 Comments</a></li>
                    </ul>

                    <div class="clearfix"></div>

                    <p>There are many variations passages of available but theses in majority have suffered alteration in some form injecte humou or randomised words which don't looks even slightly believable embarrassing hidden in the middle.</p>

                </div>
            </div>
        </div><!-- /# end post -->

        <div class="clearfix divider_line3"></div>

        <div class="blog_post">
            <div class="blog_postcontent">
                <div class="image_frame small"><a href="#"><img src="http://placehold.it/810x360" alt="" /></a></div>
                <div class="post_info_content_small">
                    <a href="blog-archive.html" class="date"><strong>10</strong><i>October</i></a>
                    <h3><a href="blog-post.html">Latin words comined handful of mode</a></h3>
                    <ul class="post_meta_links_small">
                        <li class="post_by"><i class="fa fa-user"></i> <a href="#">Harrison</a></li>
                        <li class="post_categoty"><i class="fa fa-folder-open"></i> <a href="#">Web tutorials</a></li>
                        <li class="post_comments"><i class="fa fa-comments"></i> <a href="#">18 Comments</a></li>
                    </ul>

                    <div class="clearfix"></div>

                    <p>There are many variations passages of available but theses in majority have suffered alteration in some form injecte humou or randomised words which don't looks even slightly believable embarrassing hidden in the middle.</p>

                </div>
            </div>
        </div><!-- /# end post -->

        <div class="clearfix divider_line3"></div>

        <div class="pagination">
            <b>Page 2 of 18</b>
            <a href="#" class="navlinks">&lt; Previous</a>
            <a href="#" class="navlinks">1</a>
            <a href="#" class="navlinks current">2</a>
            <a href="#" class="navlinks">3</a>
            <a href="#" class="navlinks">4</a>
            <a href="#" class="navlinks">Next ></a>
        </div><!-- end pagination -->

    </div><!-- end content left side area -->
    <!-- right sidebar starts -->
    <div class="right_sidebar">

        <div class="site-search-area">

            <form method="get" id="site-searchform" action="blog.html">
                <div>
                    <input class="input-text" name="s" id="s" value="Enter Search keywords..." onFocus="if (this.value == 'Enter Search keywords...') {this.value = '';}" onBlur="if (this.value == '') {this.value = 'Enter Search keywords...';}" type="text" />
                    <input id="searchsubmit" value="Search" type="submit" />
                </div>
            </form>

        </div><!-- end site search -->

        <div class="clearfix mar_top4"></div>

        <div class="sidebar_widget">

            <div class="sidebar_title"><h3>Site <i>Categories</i></h3></div>
            <ul class="arrows_list1">
                <li><a href="#"><i class="fa fa-angle-right"></i> Website Design</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> Make Money Online</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> Photography</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> Wordpress Themes</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> Learn Web Tutorials</a></li>
            </ul>

        </div><!-- end section -->

        <div class="clearfix mar_top4"></div>

        <div class="sidebar_widget">

            <div id="tabs">

                <ul class="tabs">
                    <li class="active"><a href="#tab1">Popular</a></li>
                    <li><a href="#tab2">Recent</a></li>
                    <li class="last"><a href="#tab3">Tags</a></li>
                </ul><!-- /# end tab links -->

                <div class="tab_container">
                    <div id="tab1" class="tab_content">

                        <ul class="recent_posts_list">
                            <li>
                                <span><a href="#"><img src="http://placehold.it/50x50" alt="" /></a></span>
                                <a href="#">Publishing packag esanse web page editos</a>
                                <i>December 09, 2013</i>
                            </li>
                            <li>
                                <span><a href="#"><img src="http://placehold.it/50x50" alt="" /></a></span>
                                <a href="#">Sublishing packag esanse web page editos</a>
                                <i>December 08, 2013</i>
                            </li>
                            <li class="last">
                                <span><a href="#"><img src="http://placehold.it/50x50" alt="" /></a></span>
                                <a href="#">Mublishing packag esanse web page editos</a>
                                <i>December 07, 2013</i>
                            </li>
                        </ul>

                    </div><!-- end popular posts -->

                    <div id="tab2" class="tab_content">
                        <ul class="recent_posts_list">

                            <li>
                                <span><a href="#"><img src="http://placehold.it/50x50" alt="" /></a></span>
                                <a href="#">Various versions has evolved over the years</a>
                                <i>December 18, 2013</i>
                            </li>
                            <li>
                                <span><a href="#"><img src="http://placehold.it/50x50" alt="" /></a></span>
                                <a href="#">Rarious versions has evolve over the years</a>
                                <i>December 17, 2013</i>
                            </li>
                            <li class="last">
                                <span><a href="#"><img src="http://placehold.it/50x50" alt="" /></a></span>
                                <a href="#">Marious versions has evolven over the years</a>
                                <i>December 16, 2013</i>
                            </li>
                        </ul>

                    </div><!-- end popular articles -->

                    <div id="tab3" class="tab_content">
                        <ul class="tags">

                            <li><a href="#">2013</a></li>
                            <li><a href="#"><b>Amazing</b></a></li>
                            <li><a href="#">Animation</a></li>
                            <li><a href="#">Beautiful</a></li>
                            <li><a href="#"><b>Cartoon</b></a></li>
                            <li><a href="#">Comedy</a></li>
                            <li><a href="#"><b>Cool</b></a></li>
                            <li><a href="#">Dance</a></li>
                            <li><a href="#">Drive</a></li>
                            <li><a href="#"><b>Family</b></a></li>
                            <li><a href="#"><b>Fantasy</b></a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#"><b>Friends</b></a></li>
                            <li><a href="#">Funny</a></li>
                            <li><a href="#"><b>Games</b></a></li>
                            <li><a href="#">Love</a></li>
                            <li><a href="#"><b>Music</b></a></li>
                            <li><a href="#">Nature</a></li>
                            <li><a href="#"><b>Party</b></a></li>
                            <li><a href="#">Pictures</a></li>
                            <li><a href="#">Sports</a></li>
                            <li><a href="#"><b>Best</b></a></li>
                            <li><a href="#">Wedding</a></li>
                            <li><a href="#">Weight</a></li>
                            <li><a href="#"><b>Youtube</b></a></li>
                        </ul>
                    </div>

                </div>

            </div>

        </div><!-- end section -->

        <div class="clearfix mar_top5"></div>

        <div class="clientsays_widget">

            <div class="sidebar_title"><h3>Happy <i>Client Say's</i></h3></div>

            <img src="http://placehold.it/50x50" alt="" />
            <strong>- Henry Brodie</strong><p>Lorem Ipsum passage, and going through the cites of the word here classical literature passage discov the ered undou btable which looks reasonable of the generated charac eristic words.</p>

        </div><!-- end section -->

        <div class="clearfix mar_top5"></div>

        <div class="sidebar_widget">

            <div class="sidebar_title"><h3>Portfolio <i>Widget</i></h3></div>

            <div class="portfolio_sidebar_widget">

                <ul id="mycarouseltwo" class="jcarousel-skin-tango">

                    <li>
                        <div class="item">
                            <div class="fresh_projects_list">
                                <section class="cheapest">
                                    <div class="display">
                                        <div class="small-group">
                                            <div class="small money">
                                                <img src="http://placehold.it/275x300" alt="">
                                                <div class="info">
                                                    <div class="title">
                                                        Many Webs Available
                                                        <ul>
                                                            <li><a href="#"><img src="images/fa-icon.png" alt="" /></a></li>
                                                            <li><a href="#"><img src="images/twitter-icon.png" alt="" /></a></li>
                                                            <li><a href="#"><img src="images/like-icon.png" alt="" /></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="additionnal">
                                                        There are many variations pasages
                                                        lpsum available but in the majority
                                                        have suffered alteration [...]<br /><br />
                                                        <b><a href="#">more ></a></b>
                                                    </div>
                                                </div>
                                                <div class="hover"></div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </li><!-- end item -->

                    <li>
                        <div class="item">
                            <div class="fresh_projects_list">
                                <section class="cheapest">
                                    <div class="display">
                                        <div class="small-group">
                                            <div class="small money">
                                                <img src="http://placehold.it/275x300" alt="">
                                                <div class="info">
                                                    <div class="title">
                                                        Suffered Alteration
                                                        <ul>
                                                            <li><a href="#"><img src="images/fa-icon.png" alt="" /></a></li>
                                                            <li><a href="#"><img src="images/twitter-icon.png" alt="" /></a></li>
                                                            <li><a href="#"><img src="images/like-icon.png" alt="" /></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="additionnal">
                                                        There are many variations pasages
                                                        lpsum available but in the majority
                                                        have suffered alteration [...]<br /><br />
                                                        <b><a href="#">more ></a></b>
                                                    </div>
                                                </div>
                                                <div class="hover"></div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </li><!-- end item -->

                    <li>
                        <div class="item">
                            <div class="fresh_projects_list">
                                <section class="cheapest">
                                    <div class="display">
                                        <div class="small-group">
                                            <div class="small money">
                                                <img src="http://placehold.it/275x300" alt="">
                                                <div class="info">
                                                    <div class="title">
                                                        The Random Words
                                                        <ul>
                                                            <li><a href="#"><img src="images/fa-icon.png" alt="" /></a></li>
                                                            <li><a href="#"><img src="images/twitter-icon.png" alt="" /></a></li>
                                                            <li><a href="#"><img src="images/like-icon.png" alt="" /></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="additionnal">
                                                        There are many variations pasages
                                                        lpsum available but in the majority
                                                        have suffered alteration [...]<br /><br />
                                                        <b><a href="#">more ></a></b>
                                                    </div>
                                                </div>
                                                <div class="hover"></div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </li><!-- end item -->

                </ul>

            </div>

        </div><!-- end section -->

        <div class="clearfix mar_top5"></div>

        <div class="sidebar_widget">

            <div class="sidebar_title"><h3>Site <i>Advertisements</i></h3></div>

            <ul class="adsbanner-list">
                <li><a href="#"><img src="images/sample-ad-banner.jpg" alt="" /></a></li>
                <li class="last"><a href="#"><img src="images/sample-ad-banner.jpg" alt="" /></a></li>
            </ul>

            <ul class="adsbanner-list">
                <li><a href="#"><img src="images/sample-ad-banner.jpg" alt="" /></a></li>
                <li class="last"><a href="#"><img src="images/sample-ad-banner.jpg" alt="" /></a></li>
            </ul>

        </div><!-- end section -->

        <div class="clearfix mar_top4"></div>

        <div class="sidebar_widget">

            <div class="sidebar_title"><h3>Site <i>Archives</i></h3></div>

            <ul class="arrows_list1">
                <li><a href="#"><i class="fa fa-angle-right"></i> December 2013</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> November 2013</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> October 2013</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> September 2013</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> August 2013</a></li>
            </ul>

        </div><!-- end section -->


    </div>


</div><!-- end content area -->


<div class="clearfix mar_top4"></div>

