@model RegisterViewModel
@{
    ViewData["Title"] = "Register";

   Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <title>Modern an Admin Panel Category Flat Bootstarp Resposive Website Template | Register :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="~/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="~/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="~/js/jquery.min.js"></script>
    <!----webfonts--->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/js/bootstrap.min.js"></script>
</head>
<body id="login">
    <div class="login-logo">
        <a href="index.html"><img src="images/logo.png" alt="" /></a>
    </div>
    <h2 class="form-heading">@ViewData["Title"]</h2>
    <form method="post" class="form-signin app-cam" asp-action="Register" asp-controller="Account">
        @Html.AntiForgeryToken()
        <p>Enter your personal details below</p>

        @Html.ValidationSummary()

        <input asp-for="FirstName" class="form-control1" placeholder="First Name" autofocus="" />
        <span asp-validation-for="FirstName" class="text-danger"></span>

        <input asp-for="LastName" class="form-control1" placeholder="Last Name" autofocus="" />
        <span asp-validation-for="LastName" class="text-danger"></span>


        <input asp-for="Email" class="form-control1" placeholder="Email" autofocus="" />
        <span asp-validation-for="Email" class="text-danger"></span>

        <input asp-for="PhoneNumber" class="form-control1" placeholder="Mobile Number" autofocus="" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>

        
        <p> Enter your account details below</p>

        <input asp-for="Password" class="form-control1" placeholder="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
        <input asp-for="ConfirmPassword" class="form-control1" placeholder="Confirm Password" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            
        <button class="btn btn-lg btn-success1 btn-block" type="submit">Submit</button>
        <div class="registration">
            Already Registered.
            <a asp-area="" asp-controller="Account" asp-action="Login">
                Login
            </a>
        </div>
    </form>
    <div class="copy_layout login register">
        <p>Copyright &copy; 2017 Vadodara Municipal Corporation.  All Rights Reserved  @*Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a>*@ </p>

    </div>
</body>
</html>



@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
