
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}



<div class="clearfix"></div>

<div class="page_title">

    <div class="container">
        <div class="title"><h1>ABD Project</h1></div>
        <div class="pagenation">&nbsp;<a href="/Events/Albums">Albums</a></div>
    </div>
</div><!-- end page title -->

<!-- Contant
======================================= -->

<div class="container">

    <div class="content_fullwidth">

        <div class="portfolio_area">

            <div class="portfolio_area_left"><a href="#" target="_blank"><img src="~/images/abd.jpg" alt="" /></a></div>

            <div class="portfolio_area_right">

                <h3><i>Project Description</i></h3>
                <p>There are many variations passages available alteraised words which look even slightly believable.</p>
                <a href="#" class="addto_favorites"><i class="fa fa-heart"></i>&nbsp; Add to Favorites</a>
                <ul class="small_social_links">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>

                <div class="project_details">
                    <h4>Project Details</h4>
                    <span><strong>Date</strong> <em>3 April 2018</em></span>
                    <span><strong> LocalityDetails</strong></span>
                    <span><strong>BoundaryEast</strong> <em>Viswamitri River</em></span>
                    <span><strong>BoundaryWest </strong> <em>Race Course Road & Old Padra Road</em></span>
                    <span><strong>BoundaryNorth</strong> <em>Race Course Road</em></span>
                    <span><strong>BoundarySouth</strong> <em>Shankheshwar Parshwanath Road</em></span>
                    <span><strong>Status</strong> <em>Active</em></span>
                    @*<span><strong>Document</strong> <em>M.A Anderson</em></span>*@
                    <div class="clearfix mar_top3"></div>
                    <a href="/Events/AlbumPhotos?AlbumId=10" class="but_goback"><i class="fa fa-hand-o-right fa-lg"></i>&nbsp; Visit Gallery</a>
                </div>

            </div>

        </div><!-- end section -->

        <div class="clearfix mar_top5"></div>

        <div class="portfolio_area_left">

            <div class="one_full">

                <h2><strong>Vadodara Smart City </strong></h2>
                <div class="table-style"  style="overflow-x:auto;">
                    <table class="table-list">
                        <tr>
                            <th>ABD Projects</th>
                            <th>Total</th>
                            <th>DPR</th>
                            <th>Tender</th>
                            <th>Work Oder</th>

                        </tr>
                        <tr>
                            <th>No of Projects</th>
                            <td>49</td>
                            <td>Content 3</td>
                            <td>Content 4</td>
                            <td>Content 5</td>


                        </tr>
                        <tr>
                            <th>Cost</th>
                            <td>2408.32</td>
                            <td>Content 3</td>
                            <td>Content 4</td>
                            <td>Content 5</td>

                        </tr>

                    </table>
                </div>
            </div>
            </div><!-- end tables -->
            <!--initiative-- section start-->

            <div class="portfolio_area_left">
                <h3><i>Vadodara ABD Initiatives</i></h3>

                <!-- section 1 -->
                <span class="acc-trigger active"><a href="#">Heritage and Calture Destination </a></span>
                <div class="acc-container">
                    <div class="content">
                        Renovation of about  25 heritage stractures and highlight calture activity to  make city tourism  destintion
                    </div>
                </div>

                <!-- section 2 -->
                <span class="acc-trigger"><a href="#">Tourist Infotmation Center </a></span>
                <div class="acc-container">
                    <div class="content">
                        It will be constructed at  Railwaystation for tourist
                    </div>
                </div>

                <!-- section 3 -->
                <span class="acc-trigger"><a href="#">Urben Health Center</a></span>
                <div class="acc-container">
                    <div class="content">
                        24x7 healthcare with facility of primary treatment  and maternity ward  facility at two loction
                    </div>
                </div>

            </div><!-- end resions to you choose us -->





        </div>

</div><!-- end content area -->


<div class="clearfix mar_top5"></div>