
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}



<div class="clearfix"></div>

<div class="page_title">

    <div class="container">
        <div class="title"><h1>Single Image</h1></div>
        <div class="pagenation">&nbsp;<a href="index.html">Home</a> <i>/</i> <a href="#">Portfolio</a> <i>/</i> Single Image</div>
    </div>
</div><!-- end page title -->

<!-- Contant
======================================= -->

<div class="container">

    <div class="content_fullwidth">

        <div class="portfolio_area">

            <div class="portfolio_area_left"><a href="#" target="_blank"><img src="~/images/abd.jpg" alt=""  /></a></div>

            <div class="portfolio_area_right">

                <h3><i>Project Description</i></h3>
                <p>There are many variations passages available alteraised words which look even slightly believable.</p>
                <a href="#" class="addto_favorites"><i class="fa fa-heart"></i>&nbsp; Add to Favorites</a>
                <ul class="small_social_links">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>

                <div class="project_details">
                    <h4>Project Details</h4>
                    <span><strong>Date</strong> <em>3 April 2018</em></span>
                    <span><strong> LocalityDetails</strong></span>
                    <span><strong>BoundaryEast</strong> <em>Viswamitri River</em></span>
                    <span><strong>BoundaryWest </strong> <em>Race Course Road & Old Padra Road</em></span>
                    <span><strong>BoundaryNorth</strong> <em>Race Course Road</em></span>
                    <span><strong>BoundarySouth</strong> <em>Shankheshwar Parshwanath Road</em></span>
                    <span><strong>Status</strong> <em>Active</em></span>
                    @*<span><strong>Document</strong> <em>M.A Anderson</em></span>*@
                    <div class="clearfix mar_top3"></div>
                    <a href="#" class="but_goback"><i class="fa fa-hand-o-right fa-lg"></i>&nbsp; Visit Gallery</a>
                </div>

            </div>

        </div><!-- end section -->

        <div class="clearfix mar_top5"></div>
        
        
        <!--initiative-- section start-->

        <div class="portfolio_area_left">
            <h3><i>Resions to You Choose us</i></h3>

            <!-- section 1 -->
            <span class="acc-trigger active"><a href="#">Responsive HTML5 &amp; CSS3 Theme</a></span>
            <div class="acc-container">
                <div class="content">
                    There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form, by injected humour, or randomised words which looks desktop publishing packages and web page editors Lorem Ipsum available but the majority have suffered alteration Lorem Ipsum available but the majority have suffered alteration.
                </div>
            </div>

            <!-- section 2 -->
            <span class="acc-trigger"><a href="#">Cross Browser Support &amp; Layered PSDs</a></span>
            <div class="acc-container">
                <div class="content">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
                </div>
            </div>

            <!-- section 3 -->
            <span class="acc-trigger"><a href="#">Slideshows, Colors, Images &amp; Shortcodes</a></span>
            <div class="acc-container">
                <div class="content">
                    There are many variations of but the majority have suffered alteration in some form, by injected humour, or randomised words which looks.
                </div>
            </div>

        </div><!-- end resions to you choose us -->





    </div>

</div><!-- end content area -->


<div class="clearfix mar_top5"></div>