
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}



<div class="clearfix"></div>

<div class="page_title">

     <div class="container">
        <div class="title"><h1>PanCity Project</h1></div>
        <div class="pagenation">&nbsp;<a href="/Events/Albums">Albums</a></div>
    </div>
</div><!-- end page title -->
<!-- Contant
======================================= -->

<div class="container">

    <div class="content_fullwidth">

        <div class="portfolio_area">

            <div class="portfolio_area_left"><a href="#" target="_blank"><img src="~/images/Projects/pancityprojct.jpg" alt="" /></a></div>

            <div class="portfolio_area_right">

                <h3><i>Project Description</i></h3>
                <p>There are many variations passages available alteraised words which look even slightly believable.</p>
                <a href="#" class="addto_favorites"><i class="fa fa-heart"></i>&nbsp; Add to Favorites</a>
                <ul class="small_social_links">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>

                <div class="project_details">
                    <h4>Project Details</h4>
                    @*<span><strong>Date</strong> <em>3 April 2018</em></span>*@
                    <span><strong><b><font color="#0787c5"> Total</font></b>  </strong></span>
                    <span><strong>No. of Projects </strong> <em>12</em></span>
                    <span><strong>SCP Cost </strong> <em>379</em></span><br />
                    @*<span><strong><b><font color="#0787c5"> DPR</font></</b>  </strong></span>
                    <span><strong>No. of Projects </strong> <em>12</em></span>
                    <span><strong>SCP Cost </strong> <em>379</em></span><br>
                    <span><strong><b><font color="#0787c5"> Tender</font></</b>  </strong></span>
                    <span><strong>No. of Projects </strong> <em>12</em></span>
                    <span><strong>SCP Cost </strong> <em>379</em></span><br>
                    <span><strong><b><font color="#0787c5"> Work Order </font></</b>  </strong></span>

                    <span><strong>No. of Projects </strong> <em>12</em></span>
                    <span><strong>SCP Cost </strong> <em>379</em></span><br>*@



                    @*<span><strong>Document</strong> <em>M.A Anderson</em></span>*@
                    <div class="clearfix mar_top3"></div>
                    <a href="/Events/AlbumPhotos?AlbumId=11" class="but_goback"><i class="fa fa-hand-o-right fa-lg"></i>&nbsp; Visit Gallery</a>
                </div>

            </div>

        </div><!-- end section -->
        <div class="clearfix mar_top5"></div>
        <div class="portfolio_area_left">







           
            </div><!-- end tables -->
            <!--initiative-- section start-->

            <div class="portfolio_area_left">
                <h3><i>Vadodara ABD Initiatives</i></h3>

                <!-- section 1 -->
                <span class="acc-trigger active"><a href="#">Heritage and Calture Destination </a></span>
                <div class="acc-container">
                    <div class="content">
                        Renovation of about  25 heritage stractures and highlight calture activity to  make city tourism  destintion
                    </div>
                </div>

                <!-- section 2 -->
                <span class="acc-trigger"><a href="#">Tourist Infotmation Center </a></span>
                <div class="acc-container">
                    <div class="content">
                        It will be constructed at  Railwaystation for tourist
                    </div>
                </div>

                <!-- section 3 -->
                <span class="acc-trigger"><a href="#">Urben Health Center</a></span>
                <div class="acc-container">
                    <div class="content">
                        24x7 healthcare with facility of primary treatment  and maternity ward  facility at two loction
                    </div>
                </div>

            </div><!-- end resions to you choose us -->





        </div>

    </div><!-- end content area -->


<div class="clearfix mar_top5"></div>