
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="clearfix"></div>

<div class="page_title">

    <div class="container">
        <div class="title"><h1>Project Status</h1></div>
        @*<div class="pagenation">&nbsp;<a href="/Events/Albums">Albums</a></div>*@
    </div>
</div><!-- end page title -->


<div class="container">

    <div class="content_fullwidth">

        <div class="one_full">

            <h2> Pan City Projects – ICT Projects</h2>
            <div class="table-style">
                <table class="table-list">
                    <tr>
                        <th>No</th>
                        <th>Name of Project</th>
                        <th>Cost(cr.)</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Physical Progress</th>
                        <th>Status </th>
                    </tr>
                    <tr>
                        <td>Content 1</td>
                        <td>Content 2</td>
                        <td>Content 3</td>
                        <td>Content 4</td>
                        <td>Content 5</td>
                        <td>Content 6</td>
                        <td>Content 7</td>

                    </tr>
                    <tr>
                        <td>Content 1</td>
                        <td>Content 2</td>
                        <td>Content 3</td>
                        <td>Content 4</td>
                        <td>Content 5</td>
                        <td>Content 6</td>
                        <td>Content 7</td>
                    </tr>

                </table>
            </div>

        </div><!-- end tables -->
        <div class="clearfix mar_top5"></div>


        <div class="one_full">

            <h2> Pan City Projects – Infrastructure  Projects</h2>
            <div class="table-style">
                <table class="table-list">
                    <tr>
                        <th>No</th>
                        <th>Name of Project</th>
                        <th>Cost(cr.)</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Physical Progress</th>
                        <th>Status </th>
                    </tr>
                    <tr>
                        <td>Content 1</td>
                        <td>Content 2</td>
                        <td>Content 3</td>
                        <td>Content 4</td>
                        <td>Content 5</td>
                        <td>Content 6</td>
                        <td>Content 7</td>

                    </tr>
                    <tr>
                        <td>Content 1</td>
                        <td>Content 2</td>
                        <td>Content 3</td>
                        <td>Content 4</td>
                        <td>Content 5</td>
                        <td>Content 6</td>
                        <td>Content 7</td>
                    </tr>

                </table>
            </div>

        </div><!-- end tables -->

        <div class="clearfix mar_top5"></div>



        <div class="one_full">

            <h2> Area Based Development Projects – Infrastructure  Projects </h2>
            <div class="table-style">
                <table class="table-list">
                    <tr>
                        <th>No</th>
                        <th>Name of Project</th>
                        <th>Cost(cr.)</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Physical Progress</th>
                        <th>Status </th>
                    </tr>
                    <tr>
                        <td>Content 1</td>
                        <td>Content 2</td>
                        <td>Content 3</td>
                        <td>Content 4</td>
                        <td>Content 5</td>
                        <td>Content 6</td>
                        <td>Content 7</td>

                    </tr>
                    <tr>
                        <td>Content 1</td>
                        <td>Content 2</td>
                        <td>Content 3</td>
                        <td>Content 4</td>
                        <td>Content 5</td>
                        <td>Content 6</td>
                        <td>Content 7</td>
                    </tr>

                </table>
            </div>

        </div><!-- end tables -->

        <div class="clearfix mar_top5"></div>



        <div class="one_full">

            <h2>Area Based Development ICT Projects</h2>
            <div class="table-style">
                <table class="table-list">
                    <tr>
                        <th>No</th>
                        <th>Name of Project</th>
                        <th>Cost(cr.)</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Physical Progress</th>
                        <th>Status </th>
                    </tr>
                    <tr>
                        <td>Content 1</td>
                        <td>Content 2</td>
                        <td>Content 3</td>
                        <td>Content 4</td>
                        <td>Content 5</td>
                        <td>Content 6</td>
                        <td>Content 7</td>

                    </tr>
                    <tr>
                        <td>Content 1</td>
                        <td>Content 2</td>
                        <td>Content 3</td>
                        <td>Content 4</td>
                        <td>Content 5</td>
                        <td>Content 6</td>
                        <td>Content 7</td>
                    </tr>

                </table>
            </div>

        </div><!-- end tables -->

        <div class="clearfix mar_top5"></div>





    </div>
</div>
