
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 style="text-align: center"> Pan City Project Status List</h1>
<div class="row">
    <div class="col-md-12">

        <div class="table-responsive">
            <table class="table" id="tblABDStatus">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name Of Project</th>
                        <th>Type Of Project</th>
                        <th>Cost</th>
                        <th>Start Date</th>
                        <th>Completion Date</th>
                        <th>Physical Progress</th>
                        <th>Description</th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="col-md-12">
        <br />

        <a href="/PancityProjectStatus/AddEdit" class="btn btn-primary pull-right">Add New Pan City Project Status</a>

    </div>
</div>
@section EndScripts{
    <script type="text/javascript" src="#"></script>
}