
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<div class="container">

    <div class="content_fullwidth">

        <div class="one_full">

            <h2><strong>Recruitments</strong></h2>
            <div class="table-style">
                <table class="table-list" id="tblCareerList">
                    <tr>
                        <th></th>
                        <th>P.R.O No.</th>
                        <th>Departments</th>
                        <th>Post Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Details</th>
                        <th>Download Form </th>
                    </tr>
                    <tbody></tbody>
                </table>

            </div>

        </div><!-- end tables -->
    </div>
</div>
@section EndScripts{

    <script type="text/javascript" src="~/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/js/Career/Index.js"></script>
}